<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook story</title>
    <link rel="shortcut icon" type="image/ico" href="/ris.ico" />
</head>
<body>
    <div id="app"></div>
</body>
</html>