.fs-storyCard {
  background: var(--gray-3);
  position: relative;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}

.fs-storyCard-progressBarContainer {
  position: absolute;
  width: 98%;
  height: 6px;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  display: flex;
  gap: 2px;
  z-index: 1;
}

/* Source for loader animation: https://codepen.io/konamax123/pen/PoPLZKo */

.fs-storyCard-progressBarItem {
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 5px;
  display: flex;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(88, 89, 104, 0.5) 50.001%,
    rgba(88, 89, 104, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: #666;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-duration: 5s;
}

.fs-storyCard-progressBarItem.active {
  animation-name: Loader;
}

/* .fs-storyCard-progressBarItem.passed {
  background-position: 0 0;
} */

.fs-storyCard:hover .fs-storyCard-progressBarItem.active {
  animation-play-state: paused;
}

.fs-storyCard-arrow {
  position: absolute;
  top: 50%;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
}

.fs-storyCard-arrow svg {
  --size: 30px;
  width: var(--size);
  height: var(--size);
}

.fs-storyCard-arrow--left {
  transform: translateX(-100%);
}

.fs-storyCard-arrow--right {
  right: 0;
  transform: translateX(100%);
}

@keyframes Loader {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
